@model TorrentIndexModel
@{
    ViewData["Title"] = "Search Results";
    Layout = "_LayoutSearch";
}

<div id="jsGrid">

</div>

<div id="assets">
    <div id="assetsTable">
        <table class="table table-condensed" id="catalogIndexTable">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Added</th>
                    <th>Size</th>
                    <th>Peers</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model != null)
                    {
                        foreach (var torrent in Model.models)
                        {
                            <tr class="assetRow">
                                <td class="">@torrent.Type</td>
                                <td class="">
                                    <a asp-controller="Detail" asp-action="Index" asp-route-id="@torrent.ID">
                                        @torrent.Name
                                    </a>
                                    <p class="subtitle">
                                        <a href="@torrent.MagnetLink" class="noborder">
                                            <i class="glyphicon glyphicon-magnet"></i>
                                        </a>

                                        <small>
                                            @torrent.Categories
                                        </small>
                                    </p>
                                </td>
                                <td class="">@torrent.Date</td>
                                <td class="">@torrent.Size</td>
                                <td class="">@torrent.PeerNumber</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/search.js"></script>
}