@model Watcher.Models.Statistics.StatisticsModel

@{
    ViewData["Title"] = "Statistics";
}

@section Scripts {
    <script src="~/js/statistic.js"></script>
}

<h3 class="search-title">Statistics</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="chart-container">
                <canvas id="pieNrChart"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="chart-container">
                <canvas id="piePeersChart"></canvas>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid lineChartContainer">
    <div class="row">
        <div class="col-md-12">
            <div>
                <canvas id="lineChartIP"></canvas>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid writtenTablesContainer">
    <div class="row">
        <div class="col-md-4">
            <div class="table-responsive">
                <table class="table table-condensed">
                    <caption>Torrent Categorisation (Nr. of Peers)</caption>
                    <thead>
                        <tr>
                            <th>Categorie</th>
                            <th class="text-right">Peers</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model != null)
                            {
                                foreach (KeyValuePair<String, String> kvp in Model.GetCategoryIPDistribution())
                                {
                                    <tr>
                                        <td class="">@kvp.Key</td>
                                        <td class="text-right">@kvp.Value</td>
                                    </tr>
                }
                }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <caption>Search Coverage</caption>
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th class="text-right">Torrents</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="">
                                    Torents with torrent description
                                </td>
                                <td class="text-right">@Model.torrentNrWithDesc</td>
                            </tr>
                            <tr>
                                <td class="">
                                    Torents with peer list
                                </td>
                                <td class="text-right">@Model.torrentNrWithPeerListOnly</td>
                            </tr>
                            <tr>
                                <td class="">
                                    Torrents total
                                </td>
                                <td class="text-right">@Model.torrentNrTotal</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
       </div>
</div>


