@using Watcher.Models.Statistics
@model Watcher.Models.Statistics.StatisticsModel

@{
    ViewData["Title"] = "Statistics";
}



<h1 class="search-title">Statistics IP Database</h1>

<div class="container-fluid">
    <div class="table-responsive col-md-5">
        <h3 class="search-title">Top Countries</h3>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Country</th>
                    <th># of peers</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model != null)
                    {
                        int i = 0;
                        foreach (KeyValuePair<String, long> c in Model.rankCountries)
                        {
                            i++;
                            <tr>
                                <td class="">@i</td>
                                <td class=""><a href="#" class="openDialog">@c.Key</a></td>
                                <td class="">@c.Value</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="table-responsive col-md-5  col-md-offset-2">
        <h3 class="search-title">Top Cities of World</h3>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>City</th>
                    <th># of peers</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model != null)
                    {
                        int i = 0;
                        foreach (KeyValuePair<String, long> c in Model.rankCities)
                        {
                            i++;
                            <tr>
                                <td class="">@i</td>
                                <td class="">@c.Key</td>
                                <td class="">@c.Value</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="container-fluid">
    <div class="table-responsive col-md-5">
        <h3 class="search-title">Top Continents</h3>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Continent</th>
                    <th># of peers</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model != null)
                    {
                        int i = 0;
                        foreach (KeyValuePair<String, long> c in Model.rankContinents)
                        {
                            i++;
                            <tr>
                                <td class="">@i</td>
                                <td class="">@c.Key</td>
                                <td class="">@c.Value</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div id="dialog-modal" class="modal fade" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Top Cities</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-condensed" id="cityTable">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>City</th>
                                <th># of peers</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/statisticsWorld.js"></script>
}
